# /.phpunit.cache
# /node_modules
# /public/build
# /public/hot
# /public/storage
# /storage/*.key
# /storage/pail
# /vendor
# .env
# .env.backup
# .env.production
# .phpactor.json
# .phpunit.result.cache
# Homestead.json
# Homestead.yaml
# npm-debug.log
# yarn-error.log
# /auth.json
# /.fleet
# /.idea
# /.nova
# /.vscode
# /.zed












# Laravel specific
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/bootstrap/cache

# Environment files
.env
.env.backup
.env.production

# PHPUnit & Cache
/.phpunit.cache
/.phpunit.result.cache

# IDE / Editor / Tools
/.idea
/.vscode
/.nova
/.fleet
/.zed
.phpactor.json

# Homestead & local configs
Homestead.json
Homestead.yaml
/auth.json

# Logs
npm-debug.log
yarn-error.log
